/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.zain {
  background-image: url('assets/pexels-andrea-piacquadio-3768126.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: static;
}

.zain::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Adjust the alpha (last value) to control darkness */
}

/* Keep text color unchanged */
.zain h1, .zain p {
  color: white; /* Set the desired text color */
}
body {
  border: 0px solid #ffffff; /* Set the border color and width */
  border-radius: 10px; /* Set the border radius for rounded corners */
  padding: 0px 4px 4px 2px;
  background-image: url('assets/jack-b-bOfCH9TnRg4-unsplash.jpg');

}

h1,h2,h3,h4,h5{

  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

p{
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@layer base {
  #exampleFormControlInputNumber[type="number"]::-webkit-inner-spin-button,
  #exampleFormControlInputNumber[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
