/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.zain {
  background-image: url('assets/pexels-andrea-piacquadio-3768126.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.zain::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Adjust the alpha (last value) to control darkness */
}

/* Keep text color unchanged */
.zain h1, .zain p {
  color: white; /* Set the desired text color */
}
body {
  border: 0px solid #ffffff; /* Set the border color and width */
  border-radius: 10px; /* Set the border radius for rounded corners */
  padding: 0px 6px 6px 6px;
  background-image: url('assets/grey_halftone_dark_background.jpg');
}









