<!--// jumb botron-->
<body class="bg-gray-950 " >
<section class="bg-center bg-no-repeat bg-[url('assets/pexels-andrea-piacquadio-3768126.jpg')] bg-gray-700 bg-blend-multiply p-5 my-6" id ="botron" >
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Welcome to Math Genus</h1>
    <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">You will learn with us many skills that will increase your mathematical and mental skills.   Start it Now!</p>
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
      <a (click)="scrollToBottom('cards')" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
        Get started
        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
      <a (click)="scrollToBottom('roles')" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
        Learn more
      </a>
    </div>
  </div>
</section>


<div class="flex items-center justify-center">
  <div class="text-center bg-gradient-to-br from-blue-500 to-purple-500 m-1 scroll-fade w-[500px] p-4 items-center justify-center rounded-lg shadow-lg">
    <h1 class="text-5xl font-bold mb-3 font-black text-white">Our Games</h1>
  </div>
</div>

<!--// cards-->
<div class="grid-cols-1 sm:grid md:grid-cols-2 bg-black mb-6" style="padding: 0 15px">

  <div id ="cards"
       class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a (click)="navigateToEquation('Sudoku_game')">
      <img
        class="rounded-t-lg   w-full "
        src="assets/img.png"
      />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
        Sudoku Game
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Sudoku is a logic-based number puzzle that's both challenging and addictive. The game consists of a  grid, which is divided into nine 3x3 subgrids. The objective is to fill the entire grid with numbers , ensuring that no number is repeated in any row, column, or subgrid.
      </p>
      <button (click)="navigateToEquation('Sudoku_game')"type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Play Now!</button>
    </div>
  </div>
  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a (click)="navigateToEquation('Equation_game')">
      <img
        class="rounded-t-lg   w-full "
        src="assets/photo_2023-10-21_18-25-38.jpg"
        alt="Palm Springs Road" />
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
        Math Solver
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Math Solver is an exciting game that challenges your mathematical skills. With three different levels of difficulty, you can choose to solve equations at your own pace or compete against others. The goal is to score the highest while solving equations as quickly as possible.
      </p>
      <button (click)="navigateToEquation('Equation_game')" type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Play Now!</button>
    </div>
  </div>
  <div class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a >
      <img
        class="rounded-t-lg"
        src="assets/26690.jpg">
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
        Coming soon
      </h5>
    </div>
  </div>
  <div
    class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
    <a >
      <img
        class="rounded-t-lg"
        src="assets/26690.jpg">
    </a>
    <div class="p-6">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
        Coming soon
      </h5>
      </div>
  </div>
</div>



<!--// banner-->

<div id="marketing-banner" tabindex="-1" class="fixed z-50 flex flex-col md:flex-row justify-between w-[calc(100%-2rem)] p-4 -translate-x-1/2 bg-white border border-gray-100 rounded-lg shadow-sm lg:max-w-7xl left-1/2 top-14 dark:bg-gray-700 dark:border-gray-600">
  <div class="flex flex-col items-start mb-3 mr-4 md:items-center md:flex-row md:mb-0">
    <a href="https://github.com/zainmo11/" class="flex items-center mb-2 border-gray-200 md:pr-4 md:mr-4 md:border-r md:mb-0 dark:border-gray-600">
      <img src="assets/42277.jpg" class="h-6 mr-2" alt="MathSolver Logo">
      <span class="self-center text-lg font-semibold whitespace-nowrap dark:text-white">Math Genius</span>
    </a>
    <p class="flex items-center text-sm font-normal text-gray-500 dark:text-gray-400">Your opinion matters to us. We would like to know your opinion about our page</p>
  </div>
  <div class="flex items-center flex-shrink-0">
    <a (click)="scrollToBottom('comment')" class="px-5 py-2 mr-2 text-xs font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Contact Us!</a>
    <button data-dismiss-target="#marketing-banner" type="button" class="flex-shrink-0 inline-flex justify-center w-7 h-7 items-center text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 dark:hover:bg-gray-600 dark:hover:text-white">
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
      <span class="sr-only">Close banner</span>
    </button>
  </div>
</div>
<div class="zain bg-gray-700 bg-blend-multiply bg-center bg-no-repeat">

<!--//model no cheat-->


<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-9 my-6" id = "roles"style="padding: 0 25px 0 25px">
  <!-- First column -->
  <div class="p-5">
    <!-- Component headings -->
    <h5 class="text-3xl font-bold mb-2 text-red-500">Sudoku Game</h5>
    <p class="text-xl italic text-white dark:text-neutral-400 mb-4">Instructions:</p>

    <!-- Numbered List -->
    <ol class="list-decimal text-white pl-7 leading-loose text-lg">
      <li class="text-lg">Complete the puzzle by filling in empty spaces with numbers.</li>
      <li class="text-lg">Ensure that the same number does not occur more than once in the same row, column, and the 3x3 square.</li>
      <li class="text-lg">Choose your preferred grid size: 3x3, 6x6, or others.</li>
      <li class="text-lg">Adjust the number of empty squares to control the game's difficulty level.</li>
      <li class="text-lg">Have fun and enjoy playing Sudoku!</li>
    </ol>
  </div>



  <!-- First column -->

  <!-- Second column -->
  <div class="p-5">
    <!-- Component headings -->
    <h5 class="text-3xl font-bold mb-2 text-red-500">Math Solver</h5>
    <p class="text-xl italic text-white dark:text-neutral-400 mb-4">Instructions:</p>

    <!-- Text -->
    <ul class="list-decimal text-white pl-5 leading-loose text-lg">
      <li>Test your math skills with three equations.</li>
      <li>Solve the equations correctly and as quickly as possible to achieve a high rating.</li>
      <li>Choose from three difficulty levels: easy, medium, and difficult.</li>
      <li>Select the number of variables to use in solving the equations.</li>
      <li>View your rating on the leaderboard at the bottom of the page to see how you rank among competitors.</li>
      <li>Each username is allowed only one attempt to solve the problems.</li>
      <li>If you want to play again, use a different username format (e.g., Ahmed1, Ahmed2).</li>
      <li>Each username must be unique and not used previously.</li>
    </ul>
  </div>
  <!-- Second column -->

</div>






<!-- Back to top button -->
<button
  type="button"
  data-te-ripple-init
  data-te-ripple-color="light"
  class="!fixed bottom-5 right-5 hidden rounded-full bg-blue-700 p-5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-green-500 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg animate-bounce"
  id="btn-back-to-top">
  <svg
    aria-hidden="true"
    focusable="false"
    data-prefix="fas"
    class="h-6 w-6"
    role="img"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 448 512">
    <path
      fill="currentColor"
      d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"></path>
  </svg>
</button>
</div>
<div class="flex items-center justify-center ">
  <div class="text-center bg-gradient-to-br from-blue-500 to-purple-500 m-1 scroll-fade p-4 rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold mt-2 text-white">Help us to be better</h1>
  </div>


</div>
<form class="flex items-center justify-center my-6" (submit)="submitComment()" id ="comment">
  <div class="w-[600px] mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
    <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
      <label for="comment" class="sr-only">Your comment</label>
      <textarea [(ngModel)]="comment"
                rows="4"
                class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400"
                placeholder="Write a comment..."
                required></textarea>
      <div *ngIf="submitted" class="text-center text-green-600 dark:text-green-400 font-medium mt-2">
        Thank you for your comment
      </div>
    </div>
    <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
      <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
        Post comment
      </button>
    </div>
  </div>
</form>



</body>
